:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-family: Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 105, 105, 105; /* Make the backdrop grey */
    --background-end-rgb: 70, 70, 70; /* Make the backdrop grey */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-family);
  line-height: 1.6; /* Add some line height for better readability */
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fadeOut {
  animation: fadeOut 3s forwards;
}

.welcome-message {
  font-family: 'Impact', sans-serif;
  font-size: 2rem;
  padding-bottom: 5px;
}

.start-button {
  font-size: 2rem;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding-top: 5px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #f1f1f1;
  transition: background-color 0.5s ease;
}

.start-button:hover {
  background-color: black;
  color: white;
}

.ships-placed-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.ships-placed-message.visible {
  opacity: 1;
}

.ships-placed-message h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.countdown-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-message h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4em;
  color: #fc0303;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.available-ships {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.available-ships h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 0px;
}

.available-ships button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  padding: 10px 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  width: 250px;
  border-radius: 5px;
}

.available-ships button.used {
  background-color: #888888;
  cursor: not-allowed;
}


.available-ships button:hover {
  background-color: #333333;
}

.game-over-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(8px);
}

.reset-button {
  margin-top: -1em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 24px;
  background-color: #f0f0f0;
}

.btn {
  display: inline-block;
  padding: 16px 24px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #4caf50;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}
